<strong>Olá, {{ organizer }}</strong>
<p>Seu Meetup tem uma nova inscrição!</p>
<p>
  <strong>{{ user }}</strong> se inscreveu para o Meetup <strong>{{ meetup }}</strong> <br />
  <br />
  <small>
    Aproveite para dar as boas-vindas pelo e-mail {{ email }}.
  </small>
</p>
